/* GLOBAL */
a {
        color: #000000;
        text-decoration: none;
}


/* HEADER */
#top-header {
        background-color: #83162b;
        color: #ffffff;
}
#top-header a {
        color: #ffffff;
        text-decoration: none;
}
#header-main-space {
        min-height: 182px;
}
#header-main {
        margin-top: -182px;
}
#header-main.scroll-fixed-headermain {
        top: 0;
        margin-top: 0;
        float: left;
        width: 100%;
        display: block;
        position: fixed;
        z-index: 999;
        height: 75px;
        animation-duration: .5s;
        animation-name: slidein;
        box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%);
        background: #ffffff;
}
#header-main.scroll-fixed-headermain img {
        width: 130px;
}


/* TAULES */
.bg-fila-blau {
        background-color: #f0f8ff;
}

/* FORMULARI */
#seccio-formulari-curs {
        margin-top: 1.5rem;
        max-width: 500px;
        margin: 40px auto;
}
#seccio-formulari-curs label.error {
        position: absolute;
        color: #a95e46;
        font-size: small;
        font-weight: 500;
        margin-left: 2px;
}


/* ELEMENTS */
a.btn-esneca, button.btn-esneca {
        color: #fff;
        background-color: #83162b;
        border-color: #83162b;
}
a.btn-esneca:hover, button.btn-esneca:hover {
        color: #83162b;
        background-color: #ffffff;
}

.form-control:focus{
        border-color: #b3b2b2 !important;
        box-shadow: 0 0 0 .25rem rgb(0 0 0 / 13%) !important;
}